@using Wedia.Feature.Glossary
@using Wedia.Foundation.Alerts
@using Wedia.Foundation.Alerts.Extensions
@using Wedia.Foundation.Dictionary.Extensions
@using Wedia.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.DescendsFrom(Templates.GlossaryChoiceGroup.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.GlossaryChoiceGroup.ID),
      AlertTexts.InvalidDataSourceTemplateFriendlyMessage,
      Model.Item?.ID,
      Model.Rendering.Item?.ID)
  return;
}

<section class="center center--760 m-t-112">

  <h2>@Html.Sitecore().Field(Templates.HasGlossaryTitle.Fields.Title)</h2>

  <div class="vocabulary">
    <div class="vocabulary__heading">
      @Html.Sitecore().Dictionary("/Glossary/Glossary Choice List/Accordion Title",
          "If you need help with the insurance terms please look at the")
      <span class="vocabulary__expander">
        @Html.Sitecore().Dictionary("/Glossary/Glossary Choice List/Accordion Title Dictionary",
         "dictionary")
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 60 60">
          <defs>
            <path id="a" d="M41.118 32.08L23.029 50.137a2.948 2.948 0 0 1-4.166 0 2.938 2.938 0 0 1 0-4.159l16.005-15.98-16.005-15.978a2.938 2.938 0 0 1 0-4.16 2.95 2.95 0 0 1 4.166 0l18.09 18.06c.574.574.862 1.326.862 2.079a2.93 2.93 0 0 1-.863 2.08z" />
          </defs>
          <use fill="#003B4D" fill-rule="nonzero" transform="rotate(-90 29.99 30)" xlink:href="#a" />
        </svg>
      </span>
    </div>
    <ul class="vocabulary__content">
      @foreach (var glossary in Model.Item.GetMultiListValueItems(Templates.GlossaryChoiceGroup.Fields.Items))
      {
        <li>
          <h3 class="h6">@Html.Sitecore().Field(Templates.HasGlossaryTitle.Fields.Title, glossary, new { DisableWebEdit = true })</h3>
          <div class="vocabulary__definition">@Html.Sitecore().Field(Templates.Glossary.Fields.Gloss, glossary, new { DisableWebEdit = true })</div>
        </li>
      }
    </ul>
  </div>

</section>