@using Wedia.Foundation.SitecoreExtensions.Extensions
@model Wedia.Feature.Metadata.Models.IMetadata

@if (Model == null)
{
  return;
}

@{
  var currentItem = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Item;
  string src = string.Empty;
}

@if (!string.IsNullOrEmpty(Model.Title))
{
  <title>@Model.Title</title>
}

@if (Model.KeywordsList.Any())
{
  <meta name="keywords" content="@string.Join(", ", Model.KeywordsList)" />
}
@if (!string.IsNullOrEmpty(Model.Description))
{
  <meta name="description" content="@Model.Description" />
  <meta property="og:description" content="@Model.Description" />
}
@if (Model.Robots.Any())
{
  <meta name="robots" content="@string.Join(",", Model.Robots)" />
}
@foreach (var custom in Model.CustomMetadata)
{
  <meta name="@custom.Key" content="@custom.Value" />
}

@if (currentItem.FieldHasValue(Wedia.Feature.Metadata.Templates.PageMetadata.Fields.BrowserTitle))
{
  <meta property="og:title" content="@currentItem.Fields[Wedia.Feature.Metadata.Templates.PageMetadata.Fields.BrowserTitle]" />
}                                                                                                                         

<meta property="og:type" content="website" />
<meta property="og:url" content="@Request.Url" />

@if (!string.IsNullOrEmpty(currentItem.Fields["Image"]?.ToString()) || !string.IsNullOrEmpty(currentItem.Fields["DesktopImage"]?.ToString()))
{
  Sitecore.Data.Fields.ImageField imageField = !string.IsNullOrEmpty(currentItem.Fields["Image"]?.ToString()) ? currentItem.Fields["Image"] : currentItem.Fields["DesktopImage"];
  Sitecore.Data.Items.MediaItem image = new Sitecore.Data.Items.MediaItem(imageField.MediaItem);
  src = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped) + Sitecore.StringUtil.EnsurePrefix('/', Sitecore.Resources.Media.MediaManager.GetMediaUrl(image));
}

@if (!string.IsNullOrEmpty(src))
{
  <meta name="og:image" content="@src" />
}