@using Wedia.Feature.Navigation
@using Wedia.Foundation.SitecoreExtensions.Extensions
@using Wedia.Foundation.Dictionary.Extensions
@model Wedia.Feature.Navigation.Models.NavigationItems

@{
  if (Model?.NavItems == null || !Model.NavItems.Any())
  {
    return;
  }
}

<div class="footer__list">
  <ul class="footer__social">
    @foreach (var link in Model.NavItems.Where(x => !string.IsNullOrEmpty(x.Item[Templates.LinkMenuItem.Fields.Class])))
    {
      if (link.Item[Templates.LinkMenuItem.Fields.Class] == "footer__social__fb")
      {
        <li>
          <a class="footer__social__fb"
             href="@link.Url"
             target="@link.Target"
             title="@link.Item[Templates.Navigable.Fields.NavigationTitle]">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
              <path fill="#003B4D" fill-rule="nonzero" d="M42.02 6.01L35.786 6C28.779 6 24.25 10.733 24.25 18.059v5.56h-6.27a.99.99 0 0 0-.981 1v8.055c0 .552.44 1 .98 1h6.27V54c0 .552.44.999.981.999h8.181a.99.99 0 0 0 .98-1V33.675h7.332a.99.99 0 0 0 .98-1l.004-8.055a1.01 1.01 0 0 0-.287-.707.972.972 0 0 0-.694-.293h-7.334v-4.713c0-2.266.53-3.416 3.426-3.416l4.2-.001a.99.99 0 0 0 .981-1V7.01a.99.99 0 0 0-.98-.999z" />
            </svg>
          </a>
        </li>
      }
      if (link.Item[Templates.LinkMenuItem.Fields.Class] == "footer__social__tw")
      {
        <li>
          <a class="footer__social__tw"
             href="@link.Url"
             target="@link.Target"
             title="@link.Item[Templates.Navigable.Fields.NavigationTitle]">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
              <path fill="#003B4D" fill-rule="nonzero" d="M55 14.733a19.996 19.996 0 0 1-5.772 1.59 10.135 10.135 0 0 0 4.419-5.585 20.204 20.204 0 0 1-6.388 2.453A10 10 0 0 0 39.923 10c-5.551 0-10.052 4.523-10.052 10.1 0 .79.088 1.562.26 2.301-8.353-.422-15.76-4.443-20.717-10.555a10.063 10.063 0 0 0-1.36 5.078 10.11 10.11 0 0 0 4.47 8.406 10.015 10.015 0 0 1-4.552-1.267v.126c0 4.892 3.466 8.976 8.062 9.905-.842.228-1.73.354-2.649.354-.649 0-1.276-.065-1.892-.188 1.28 4.016 4.991 6.936 9.388 7.016a20.104 20.104 0 0 1-12.484 4.317c-.81 0-1.61-.049-2.397-.138A28.311 28.311 0 0 0 21.408 50c18.49 0 28.598-15.392 28.598-28.74l-.034-1.308A20.128 20.128 0 0 0 55 14.732z" />
            </svg>
          </a>
        </li>
      }
      if (link.Item[Templates.LinkMenuItem.Fields.Class] == "footer__social__yt")
      {
        <li>
          <a class="footer__social__yt"
             href="@link.Url"
             target="@link.Target"
             title="@link.Item[Templates.Navigable.Fields.NavigationTitle]">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60">
              <path fill="#003B4D" fill-rule="nonzero" d="M54.895 14.348C52.946 11.97 49.347 11 42.475 11h-24.95c-7.03 0-10.69 1.033-12.632 3.564C3 17.033 3 20.67 3 25.704v9.593C3 45.05 5.246 50 17.525 50h24.95c5.96 0 9.262-.856 11.399-2.954C56.065 44.894 57 41.38 57 35.297v-9.594c0-5.308-.146-8.967-2.105-11.355zM37.668 31.825L26.34 37.9a1.705 1.705 0 0 1-1.71-.055 1.798 1.798 0 0 1-.839-1.53V24.204c0-.624.318-1.204.838-1.528a1.703 1.703 0 0 1 1.707-.058l11.33 6.037c.576.307.938.918.938 1.584.001.667-.36 1.278-.935 1.587z" />
            </svg>
          </a>
        </li>
      }
      if (link.Item[Templates.LinkMenuItem.Fields.Class] == "footer__social__ln")
      {
        <li>
          <a class="footer__social__ln"
             href="@link.Url"
             target="@link.Target"
             title="@link.Item[Templates.Navigable.Fields.NavigationTitle]">
            <svg width="68" height="68" viewBox="0 0 68 68" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M16.9496001,24.1653001 L16.9496001,63.7757803 L3.75936,63.7757803 L3.75936,24.1653001 L16.9496001,24.1653001 Z M49.2462002,23.2463401 C53.8025002,23.2463401 57.4671402,24.7589001 60.2378802,27.7834601 C63.0094603,30.8070401 64.3940603,35.2366401 64.3950403,41.0729602 L64.3950403,41.0729602 L64.3950403,63.7748003 L51.2447002,63.7748003 L51.2447002,42.5908402 C51.2447002,39.7928001 50.7051402,37.6009601 49.6261602,36.0156001 C48.5467602,34.4301001 46.8607402,33.6374201 44.5697802,33.6374201 C42.8904802,33.6374201 41.4853002,34.0970401 40.3522802,35.0171201 C39.2191202,35.9360801 38.3739402,37.0744201 37.8139401,38.4341001 C37.5202201,39.2342001 37.3744801,40.3131802 37.3744801,41.6718802 L37.3744801,41.6718802 L37.3744801,63.7760603 L24.2241401,63.7760603 C24.2776201,53.1437602 24.3042201,44.5236802 24.3042201,37.9149801 L24.3040257,36.570791 C24.3022975,30.7695488 24.289035,27.2740554 24.2639001,26.0838601 L24.2639001,26.0838601 L24.2235801,24.1650201 L37.3744801,24.1650201 L37.3744801,29.7975001 C37.8818401,28.9974001 38.4018002,28.2901201 38.9335202,27.6829401 C39.4926802,27.0437001 40.2458802,26.3509801 41.1915802,25.6047801 C42.1378402,24.8585801 43.2967602,24.2791201 44.6689002,23.8661201 C46.0414602,23.4528401 47.5674602,23.2463401 49.2462002,23.2463401 Z M10.43442,5.09912 C12.646,5.09912 14.41868,5.74522 15.7505001,7.03784001 C17.0824601,8.33018001 17.7624401,9.96188002 17.7890401,11.93406 C17.8155001,13.87936 17.1428001,15.50476 15.7706601,16.8101201 C14.39852,18.1161801 12.59294,18.7687201 10.35434,18.7687201 L10.35434,18.7687201 L10.2744,18.7687201 C8.08942002,18.7687201 6.33046001,18.1156201 4.99850001,16.8101201 C3.66612,15.50476 3,13.8788 3,11.93406 C3,9.96174002 3.68586,8.33018001 5.05842001,7.03784001 C6.43112001,5.74578 8.22298002,5.09912 10.43442,5.09912 Z" id="Combined-Shape" fill="#003B4D" fill-rule="nonzero"></path>
              </g>
            </svg>
          </a>
        </li>
      }
    }
  </ul>
  @if (Sitecore.Context.Language.Name.ToLower() == "el-gr")
  {
    <ul class="footer__list">
      <li><span class="">@Html.Sitecore().Dictionary("/Identity/Footer Newsletter/Newsletter Title", "Email subscription")</span></li>
      <li>
        <form action="https://app.moosend.com/subscribe/123088bd-38cd-405a-82f9-fff9aadc4cb9" method="post" id="ms-sub-form" target="_blank">
          <div>
            <label for="email">email:</label><input type="email" name="ms-email" id="email" required />

            <input type="checkbox" name="ms-Ενημερώθηκα σχετικά με την επεξεργασία των προσωπικών μου δεδομένων."
                   id="Ενημερώθηκα σχετικά με την επεξεργασία των προσωπικών μου δεδομένων." value="true"
                   onchange="document.getElementById('h_Ενημερώθηκα σχετικά με την επεξεργασία των προσωπικών μου δεδομένων.').name=(this.checked ? '' : this.name)" required />

            <label for="Ενημερώθηκα σχετικά με την επεξεργασία των προσωπικών μου δεδομένων.">
              Ενημερώθηκα σχετικά με την επεξεργασία των
              <a href="https://www.eurolife.gr/el-gr/prosopika-dedomena" style="color:#0645AD;">προσωπικών μου δεδομένων</a>
            </label>

            <input id="h_Ενημερώθηκα σχετικά με την επεξεργασία των προσωπικών μου δεδομένων." name="ms-Ενημερώθηκα σχετικά με την επεξεργασία των προσωπικών μου δεδομένων." type="hidden" value="false" required />
            <input type="submit" value="ΕΓΓΡΑΦΗ" />
          </div>
        </form>
      </li>
    </ul> 
  }
</div>
  