@using Wedia.Feature.Teasers
@using Wedia.Foundation.Alerts
@using Wedia.Foundation.Alerts.Extensions
@using Wedia.Foundation.SitecoreExtensions.Extensions
@using Wedia.Foundation.Theming.Extensions
@using Sitecore.Mvc.Presentation;

@model RenderingModel

@if (!Model?.Item?.DescendsFrom(Templates.HasTeaserHeadline.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.HasTeaserHeadline.ID),
        AlertTexts.InvalidDataSourceTemplateFriendlyMessage,
        Model.Item?.ID,
        Model.Rendering.Item?.ID)
  return;
}

<div class="well p-b-48 m-b-48">
  <section id="contact-us-info" class="center--1100 center m-b-48 @RenderingContext.Current.Rendering.GetBackgroundClass()">
    @if (Model.Item.FieldHasValue(Templates.HasTeaserHeadline.Fields.Title) || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <h1 class="h4 t-c">@Html.Sitecore().Field(Templates.HasTeaserHeadline.Fields.Title)</h1>
    }

    @if (Model.Item.FieldHasValue(Templates.HasTeaserSummary.Fields.Summary) || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <div class="p-b-48 center--650 center t-c">
        @Html.Sitecore().Field(Templates.HasTeaserSummary.Fields.Summary)
      </div>
    }


    <div class="ways flex-spread m-t-64 @Html.PlaceholderStyle()">
      @for (var i = 0; i < 2; i++)
      {
        @Html.Sitecore().DynamicPlaceholder($"teaser-placeholder-{i + 1}")
      }
    </div>
  </section>
</div>